In [2]:
import geopandas as gpd
import numpy as np
import pygeos

In [3]:
gpd.options.use_pygeos=True

In [4]:
predictions = gpd.read_file("data/landcover_test_set.geojson")

In [6]:
predictions

,id,b1,b1_clust,label,predictions_lr,predictions_rf,geometry
0,0_0,22222.0,22,1,1,1,POINT (-63.00653 -25.26633)
1,1_0,22222.0,22,1,1,1,POINT (-62.83361 -24.92272)
2,2_0,22221.0,10,1,1,1,POINT (-60.88426 -24.20183)
3,3_0,22222.0,22,1,1,1,POINT (-63.72968 -27.49864)
4,4_0,22222.0,22,1,1,0,POINT (-62.48551 -28.26221)
...,...,...,...,...,...,...,...
6695,6695_0,11111.0,21,2,1,0,POINT (-62.74377 -22.75554)
6696,6696_0,11111.0,21,2,0,2,POINT (-65.92156 -28.27569)
6697,6697_0,11111.0,21,2,1,1,POINT (-66.76823 -33.28829)
6698,6698_0,11111.0,21,2,2,2,POINT (-62.35301 -28.85959)
6699,6699_0,11111.0,21,2,2,2,POINT (-64.33379 -31.95204)

In [7]:
errores_RF = predictions[predictions['label'] != predictions['predictions_rf']]

In [10]:
errores_RF['b1'].value_counts(normalize=True)

22662.0    0.282276
11111.0    0.195842
66666.0    0.129103
22222.0    0.108315
44444.0    0.033917
22111.0    0.031729
21111.0    0.029540
22666.0    0.025164
33333.0    0.025164
22266.0    0.022976
22211.0    0.016411
99999.0    0.014223
22226.0    0.013129
77777.0    0.008753
66111.0    0.006565
26666.0    0.005470
22221.0    0.005470
66662.0    0.004376
11112.0    0.004376
11122.0    0.003282
22611.0    0.002188
22244.0    0.002188
99444.0    0.002188
21122.0    0.002188
22333.0    0.002188
99777.0    0.001094
99666.0    0.001094
22444.0    0.001094
12222.0    0.001094
11155.0    0.001094
26611.0    0.001094
16666.0    0.001094
11666.0    0.001094
66655.0    0.001094
88883.0    0.001094
66661.0    0.001094
22233.0    0.001094
61111.0    0.001094
23333.0    0.001094
22223.0    0.001094
99888.0    0.001094
55555.0    0.001094
66611.0    0.001094
88888.0    0.001094
99988.0    0.001094
62211.0    0.001094
Name: b1, dtype: float64